<template>
  <div>
    hello
  </div>
</template>

<script>
export default {
  name: "Profile",
  data: function(){
    return {
      is_logged_in : false,
    };
  },
}
</script>

<style scoped>

</style>