<template>
  <div class="tnc">
    <p>
      This is the demo terms and conditions for Booksell
    </p>


  </div>
</template>

<script>
export default {
  name: "TermsAndConditions"
}
</script>

<style scoped>

</style>