<template>
  <div>
    <button
      v-if="payload.is_available != 0 || isInShoppingCart(payload.id)"
      v-on:click="toggleShoppingCart"
      v-bind:class="{
        'btn-outline-light': !isInShoppingCart(payload.id),
        'btn-danger': isInShoppingCart(payload.id)
      }"
      class="btn animated-buy-button">
      {{
        !isInShoppingCart(payload.id) ? "Add to cart" : "Remove item" }}
    </button>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { mapGetters } from "vuex";

export default {
  name: "TheBuyButton",
  props: {
    payload: {
      type: Object
    },
  },
  computed: {
    ...mapGetters(["isInShoppingCart"])
  },
  methods: {
    ...mapMutations(["addToShoppingCart", "removeFromShoppingCart"]),
    toggleShoppingCart() {
      this.isInShoppingCart(this.payload.id)
        ? this.removeFromShoppingCart(this.payload.id)
        : this.addToShoppingCart(this.payload);
    }
  }
};
</script>

<style scoped>
.animated-buy-button {
  transition: all 0.5s ease-in;
}
</style>