<template>
  <div class="up-start container-lg">
    <div class="slick-carousel">
      <div class="ratio ratio-banner">
        <div class="book-intro d-flex align-items-center" style="background-image: url('/images/book1.jpg');">
          <span class="h2 text-light ps-3 grad-book-intro">Graduate Book Selling Recommendation List</span>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
require('slick-carousel');

export default {
  name: "UpStart",
  data: function() {
    return {
      serverMessage: null
    };
  },
  mounted: function() {
    this.initSlick();
  },
  methods: {
    initSlick: function () {
      window.$('.slick-carousel').slick({

      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .ratio-banner{
    padding-top: 56.25%;
  }
  .book-intro{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .grad-book-intro{
      max-width: 18.75rem;
    }
  }
  @media screen and (min-width: 991px){
    .ratio-banner{
      padding-top: 42.8%;
    }
    .book-intro{
      .grad-book-intro{
        max-width: 31.25rem;
      }
    }
  }
</style>
