<template>
  <div class="home">
    <TheIcons />
    <Header />
    <up-start />
  </div>
</template>

<script>
// @ is an alias to /src
import UpStart from "@/components/UpStart.vue";
import Header from "@/components/Header.vue";
import TheIcons from "@/components/TheIcons.vue";

export default {
  name: "home",
  components: {
    UpStart,
    Header,
    TheIcons
  }
};
</script>
