<template>
  <div>
    <TheIcons />
    <Header v-bind:is_logged_in="is_logged_in" />
    <div class="container-lg">
      <Banner
          banner_descript="Login and Sign Up"
          text_orientation="center"
          text_color="dark"
          banner_path="/images/brick.jpg" />
      <div class="row pt-3">
        <div class="col-12 col-md-6 login py-3">
          <h2>Login</h2>
          <form method="POST" action="/api/users/login"
                v-on:submit.prevent="loginAccount"
                class="pb-3 login-form">
            <div class="pb-3">
              <label for="username">Username</label>
              <input type="text" id="username"
                     v-bind:class="{'is-invalid': errors.username !== null }"
                     name="username" class="form-control"/>
              <div class="invalid-feedback">{{errors.username}}</div>
            </div>
            <div class="pb-3">
              <label for="password">Password</label>
              <input type="password" id="password"
                     v-bind:class="{'is-invalid': errors.password !== null }"
                     name="password"  class="form-control"/>
              <div class="invalid-feedback">{{errors.password}}</div>
            </div>
            <div class="py-3">
              <button class="btn btn-outline-success" type="submit">Submit</button>
            </div>

          </form>
        </div>
        <div class="col-12 col-md-6 sign-up py-3">
          <h2>Don't have an account?</h2>
          <router-link to="/sign-up" class="btn btn-primary text-warning w-100 my-4">
            Sign Up
          </router-link>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import $ from "jquery";
import Header from "@/components/Header.vue";
import Banner from "@/components/Banner.vue";
import TheIcons from "@/components/TheIcons.vue";

export default {
  name: "Login",
  components: {
    Header,
    Banner,
    TheIcons
  },
  data() {
    return {
      login_form: null,
      errors: {
        username: null,
        password: null
      },
      check_login_url: '/api/check-login'
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.getIsLogIn;
    }
  },
  mounted() {
    var self = this;
    self.isLoggedInRedirect();
    //Let form initialise first before loading.
    this.$nextTick(function (){
      self.login_form = $('.login-form');
    });
  },
  methods: {
    loginAccount() {
      var self = this;
      this.clearLoginFormErrorHint();
      $.post(
          self.login_form.attr('action'),
          self.login_form.serialize(),
          function (data){
            if(data.data.error) {
              $.each(data.data.error, function(key, val){
                self.errors[key] = val;
              });
            }else if(data.data.success) {
              self.$store.commit('setLoggedIn');
              self.$router.push('/');
            }
          }
      );
    },
    clearLoginFormErrorHint() {
      var self = this;
      $.each(self.errors, function (key){
        self.errors[key] = null;
      });
    },
    isLoggedInRedirect() {
      if (this.isLoggedIn) {
        this.$router.push('/');
      }
    }
  }
}
</script>

<style scoped lang="scss">
@media screen and (min-width: 768px){
  .login{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      right: -1px;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: #2c3e50;
    }
  }
  .sign-up{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: #2c3e50;
    }
  }
}

</style>