<template>
  <div>
    <TheIcons />
    <Header />
    <div class="container-lg">
      <Banner
          banner_path="/images/bridge.jpg"
          banner_descript="My Orders" />

      <OrderList v-bind:orders="orders"></OrderList>

    </div>
  </div>
</template>

<script>
import Banner from "@/components/Banner.vue";
import Header from "@/components/Header.vue";
import TheIcons from "@/components/TheIcons.vue";
import OrderList from "@/components/OrderList";

export default {
  name: "Order",
  components: {
    OrderList,
    TheIcons,
    Header,
    Banner
  },
  data() {
    return {
      orders : [],
    }
  },
  mounted() {
    this.getOrders();
  },
  methods: {
    getOrders() {
      window.$.get('/api/orders/me', (data) => {
        this.orders = data;
      });
    }
  }
}
</script>

<style scoped>

</style>
