<template>
  <div>
    <TheIcons />
    <Header />
    <div class="container-lg">
      <Banner banner_descript="Shopping Bag"/>
      <div class="d-flex align-items-center">
        <div class="h3 my-3 text-success">
          {{ shoppingCartItemCounter }} item{{ (shoppingCartItemCounter !== 1)? 's' :''}} in the shopping bag.
        </div>
        <div class="ms-auto">
          <button @click="updateShoppingCartPrice" class="btn btn-success">
            <div v-if="isUpdatingShoppingCart">
              <div class="spinner-border spinner-border-sm" role="status"></div>
              Updating...
            </div>
            <div v-else>
              Update Cart
            </div>
          </button>
        </div>
      </div>

      <div class="d-flex align-items-center" v-for="item in getShoppingCart" :key="item.id">
        <div class="ratio ratio-book-screenshot" style="--aspect-ratio: 133.3%;">
          <div class="book-screenshot"
             v-bind:style="'background-image: url(/api/' + item.book_image + ')'"></div>
        </div>
        <div class="book-details ps-3">
          <router-link v-bind:to="'/sell/' + item.id" class="book-name">
            {{item.book_name}}
          </router-link>
          <div class="text-secondary my-2" v-if="item.is_available == 0">No longer available</div>
          <div class="sold-by d-flex align-items-center">
            <svg style="width: 1rem; height: 1rem">
              <use xlink:href="#user-icon"></use>
            </svg>
            <span>{{item.sold_by}}</span>
          </div>
          <BuyButton class="my-2" :payload="{id: item.id}"></BuyButton>
        </div>
        <div class="ms-auto fw-bold">
          £ {{item.price_when_added}} (inc.VAT)
        </div>
      </div>
      <div class="text-end py-4">
        <div class="h4">Total: £ {{ total }}</div>
        <button class="btn btn-outline-success"
                v-on:click="submitCartItem"
                v-bind:disabled="( total == 0 || cartHasUnavailableItems)">Place order</button>
      </div>
    </div>
  </div>
</template>

<script>
import TheIcons from "@/components/TheIcons.vue";
import Banner from "@/components/Banner.vue";
import Header from "@/components/Header.vue";
import BuyButton from "@/components/TheBuyButton.vue";
import {mapGetters, mapMutations} from 'vuex';

export default {
  name: "ShoppingCart",
  components: {
    Header,
    TheIcons,
    Banner,
    BuyButton
  },
  computed: {
    ...mapGetters(["getShoppingCart", "shoppingCartItemCounter", "isUpdatingShoppingCart", "cartHasUnavailableItems"]),
    total() {
      var price = 0;
      window.$.each(this.getShoppingCart, function(index, item){
        price += parseInt(item.price_when_added);
      });
      return price;
    }
  },
  data() {
    return {
      get_book_url: '/api/books/listing/',
      get_price_url: '/api/books/listing/price-list',
      place_order: '/api/orders/place-order',
      item_details: [],
      book_prices: []
    };
  },
  mounted() {
    this.updateShoppingCartPrice();
  },
  methods: {
    ...mapMutations(["updateShoppingCartPrice"]),
    submitCartItem() {
      var self = this;
      this.updateShoppingCartPrice();
      var book_ids = '';
      window.$.each(this.getShoppingCart, function(i, val) {
        book_ids += 'book_id[]=' + val.id + '&';
      });

      window.$.post(this.place_order, book_ids, function(data) {
        if(data.data.success){
          self.$router.push('/orders');
        }
      });
    }
  }
}
</script>

<style scoped lang="scss">
.ratio-book-screenshot{
  width: 9rem;
  .book-screenshot{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

</style>