<template>
  <div>
    <Header></Header>
    <div class="container-lg">
      <Banner banner_descript="Sign Up" />
      <p class="py-3">
        By signing up to Booksell, you agree to our
        <a href="#tncModal" data-bs-toggle="modal">
          Terms and Condition.
        </a>
      </p>
      <form class="py-3 signup-form" method="post"
            v-on:submit.prevent="formSignUp"
            action="/api/users/sign-up">
        <div class="row">
          <div class="col-12 col-md-6 pb-3">
            <label for="first_name">First Name<span class="text-danger">*</span></label>
            <input type="text" id="first_name" name="first_name" class="form-control"/>
            <div class="invalid-feedback"></div>
          </div>
          <div class="col-12 col-md-6 pb-3">
            <label for="last_name">Last Name<span class="text-danger">*</span></label>
            <input type="text" id="last_name" name="last_name" class="form-control"/>
            <div class="invalid-feedback"></div>
          </div>
          <div class="col-12 col-md-6 pb-3">
            <label for="username">Username<span class="text-danger">*</span></label>
            <input type="text" id="username" name="username" class="form-control"/>
            <div class="invalid-feedback"></div>
          </div>
          <div class="col-12 col-md-6 pb-3">
            <label for="email">Email<span class="text-danger">*</span></label>
            <input type="email" id="email" name="email" class="form-control"/>
            <div class="invalid-feedback"></div>
          </div>
          <div class="col-12 col-md-6 pb-3">
            <label for="password">Password<span class="text-danger">*</span></label>
            <input type="password"
                   v-on:change="strengthCheck"
                   v-on:keyup="strengthCheck"
                   id="password" name="password" class="form-control"/>
            <div class="invalid-feedback"></div>
            <div class="progress">
              <div class="progress-bar"
                   v-bind:class="{'bg-danger': pw_strength < 2 ,
                   'bg-warning': pw_strength >=2 && pw_strength <= 3 , 'bg-success': pw_strength >3}"
                   role="progressbar"
                   v-bind:style="'width:' + ((pw_strength + 1) / 5) * 100 + '%'"
                   v-bind:aria-valuenow="((pw_strength + 1) / 5) * 100" aria-valuemin="0" aria-valuemax="100">
                <span v-if="pw_strength < 2">Weak</span>
                <span v-else-if="pw_strength >= 2 && pw_strength <= 3">Medium</span>
                <span v-else>Strong</span>
              </div>
            </div>
          </div>
        </div>
        <button type="submit"
                v-bind:disabled="pw_strength < 2"
                class="my-3 btn btn-outline-primary">Register</button>
      </form>
    </div>
    <!-- Modal for terms and conditions -->
    <div class="modal fade" id="tncModal" tabindex="-1" aria-labelledby="Terms and Conditions" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="tncModalLabel">Terms and Conditions</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <TermsAndConditions/>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal for registration success -->
    <div class="modal fade" id="registrationSuccessModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="Successfully Registered" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body bg-success text-light d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
            <span class="ps-3">
              You are now a member. Redirecting you to login page.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Banner from "@/components/Banner.vue";
import TermsAndConditions from "@/components/TermsAndConditions.vue";

var zxcvbn = require('zxcvbn');


export default {
  name: "SignUp",
  components: {
    Header,
    Banner,
    TermsAndConditions,
  },
  data(){
    return {
      pw_strength: 0,
      successful_modal: null,
    };
  },
  mounted() {
  },
  methods: {
    formSignUp() {
      var self = this;

      window.$(".signup-form .is-invalid").removeClass("is-invalid");
      window.$.post(
          window.$(".signup-form").attr('action'),
          window.$(".signup-form").serialize(),
          function(data){
            if(data.data.error){
              window.$.each(data.data.error, function(key, val){
                window.$(".signup-form .form-control[name=" + key + "]").addClass("is-invalid")
                    .siblings(".invalid-feedback").html(val);
              });
            }else if(data.data.success){
              window.$('#registrationSuccessModal').modal('toggle');
              setTimeout(() => {
                window.$('#registrationSuccessModal').modal('hide');
                self.redirectLogin();
              }, 2000);
            }
          }
      );
    },
    strengthCheck() {
       var pw = window.$('.signup-form .form-control[name="password"]').val();
       this.pw_strength = zxcvbn(pw).score;
    },
    redirectLogin() {
      var self = this;
      setTimeout(() => {
        self.$router.push("/login");
      },1000);
    }
  }
};
</script>

<style scoped>

</style>